*{
    margin: 0;
    padding: 0;
}
table{
    width: 70%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 5px;

}
table, th, td {
    border: 1px solid black;
}
.table_header{
    background-color: #28f51a;
}
.table_body{
    background-color: #728fe0;
}